/* ? GENERAL STYLES */
*{  margin: 0; padding: 0;
}
body {
  /* Fonts */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1a202c;

  
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4 {
  margin: 0; padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

/* ? LAYOUT and CLASSES */

.App {
  width: 100vh;
  min-height: 100vh;
}

main {
  min-width: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ? LAYOUT and CLASSES */

input {
  width: 300px;
  padding: 5px;
  font-size: 15px;
}
textarea {
  width: 300px;
  height: 200px;
  padding: 5px;
  font-size: 15px;
}

button {
  margin: 6px;
  padding: 3px 9px;
  background-color: white;
  border: 1px solid black;
}

button:hover {
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-cart {
  margin: 5px;
  padding: 5px 30px;
  width: 400px;
  height: fit-content;
  border: 1px black solid;
}

/* ? CART COMPONENTS */

.cart-small {
  margin: 1.5rem;
  padding: 1rem;

  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}

.cart-large {
  margin: 1.5rem;
  padding: 1rem;

  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}

/* ? NAVBAR */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2.3rem;
  background-color: #044db4d8;
  margin-bottom: 2rem;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
}

nav p {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: none;
}
nav p:hover {
  color: #dcdff8;
}

.button {
  background-color: #13219e;
  padding: 4px 12px;
  border-radius: 20px;
  font-weight: 600;
}
.button:hover {
  background-color: #13219ed0;
}
