/* ? GENERAL STYLES */


body {
  /* Fonts */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  color: #1a202c;
  background-color: #fff;

  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  color: white;
  text-decoration: none;

}

/* ? LAYOUT and CLASSES */

.App{
  width: 100vh;
}

main {
  min-width: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ? LAYOUT and CLASSES */

input {
  width: 300px;
  padding: 5px;
  font-size: 15px;
}
textarea {
  width: 300px;
  height: 200px;
  padding: 5px;
  font-size: 15px;
}

button {
  margin: 6px;
  padding: 3px 9px;
  background-color: white;
  border: 1px solid black;
}

button:hover {
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-cart {
  margin: 5px;
  padding: 5px 30px;
  width: 300px;
  border: 1px black solid;
}




/* ? NAVBAR */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.3rem;
  background-color: #0965e694;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem; 
}

nav p {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: none;
}
nav p:hover {
  color: #dcdff8;
}
