/* ? GENERAL STYLES */


h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.025em;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.025em;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.025em;
  margin-top: 0;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.025em;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

a {
  color: #3490dc;
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* ? LAYOUT and CLASSES */

.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ? NAVBAR */

/* ? BUTTON */

button {
  appearance: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #4a5568;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
  border-radius: 0.25rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ? FORM and INPUT */

input {
  appearance: none;
  background-color: transparent;
  border: 1px solid #e2e8f0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #4a5568;
  border-radius: 0.25rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  appearance: none;
  background-color: transparent;
  border: 1px solid #e2e8f0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #4a5568;
  border-radius: 0.25rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
